<div class="container mt-3 auth-container">
    <h2 class="d-inline m-1" class="page-title">Please <b>{{ this._authType }}</b></h2>

    <hr>

    <form class="w-50" [formGroup]="form" (ngSubmit)="Submit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" formControlName="username" class="form-control">

        <div *ngIf="this._authType == AuthType.Signup">
            <label class="mt-2" for="email">Email</label>
            <input name="email" type="email" formControlName="email" class="form-control">
        </div>

        <label class="mt-2" for="username">Password</label>
        <input name="password" type="password" formControlName="password" class="form-control">
      </div>

      <button id="submitButton" class="btn btn-primary mt-3" type="submit">{{ this._authType }}</button>
    </form>
  
</div>