@import "../../../variables.scss";

a {
    user-select: none;
    -webkit-user-drag: none;
}

nav {
    padding: 15px !important;
}

.navbar {
    box-shadow: 0px 2px 4px 0px $main-color;
}

.transparent {
    background-color: rgba($color: #F8F9FA, $alpha: 0.9) !important;
}

.full-transparent {
    background-color: rgba($color: white, $alpha: 0) !important;
}

.nav-link-nohover {
    color: rgba(black, .55) !important;
}

.nav-link-nohover:hover {
    color: rgba(black, .55) !important;
}

.navbar-container {
    height: 100px;
}

.nav-link:hover {
    color: $navbar-light-hover-color;
}

#main-title {
    font-size: 2.2rem;
}