<div *ngIf="this.userService.GetLoggedIn() | async" class="container-sm mb-2">
    <div id="upper-files-container" class="d-flex flex-wrap justify-content-between mb-2">

        <h2 class="d-inline m-1" id="page-title">Upload a <b>new file</b></h2>

    </div>

    <hr>

    <div class="container mt-3">
        <form class="w-50" [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <input name="file" type="file" class="form-control-file" (change)="onFileChange($event)" #fileinput>
          </div>

          <button id="submitButton" class="btn btn-primary my-2 disabled" type="submit" [disabled]="form.invalid">Upload</button>
        </form>
      
        <p class="w-50">
          <ngb-progressbar appFadein [ActionTrigger]="Action" type="primary" [value]="percentage"></ngb-progressbar>
        </p>
      
      </div>

</div>