@import "../../../variables.scss";

ngb-progressbar {
    opacity: 0;
}

::ng-deep .progress-bar {

    background-color: $main-color !important;
}

#page-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 5px;
}

#submitButton {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: black;
}