<div *ngIf="this.userService.GetLoggedIn() | async" class="container-sm mb-2">
    <div id="upper-files-container" class="d-flex flex-wrap justify-content-between mb-2">

        <!--<ng-content select="#page-title"></ng-content>-->
        <!--<h2 class="d-inline m-1" id="page-title" [innerHTML]="PageTitles[CurrentPage!]"></h2>-->
        <h2 class="d-inline m-1" id="page-title">Here you can find all your <b>files</b></h2>

        <div class="d-inline-flex justify-content-start align-items-center">
            <p class="m-1">Sort by</p>
            <div ngbDropdown id="dropdown-container" class="dropdown m-1">
                <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ SortDropdownLabel }}
            </button>

                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button ngbDropdownItem (click)="Action = 'sort_default'; SortDropdownLabel = 'Default'; this._sortOrder = SortOrder.Default; this.SortFiles();" id="sort-Default" class="dropdown-item">Default</button>
                    <button ngbDropdownItem (click)="Action = 'sort_nameatoz'; SortDropdownLabel = 'Name (A-Z)'; this._sortOrder = SortOrder.NameAToZ; this.SortFiles();" id="sort-NameAtoZ" class="dropdown-item">Name (A-Z)</button>
                    <button ngbDropdownItem (click)="Action = 'sort_nameztoa'; SortDropdownLabel = 'Name (Z-A)'; this._sortOrder = SortOrder.NameZToA; this.SortFiles();" id="sort-NameZtoA" class="dropdown-item">Name (Z-A)</button>
                </div>
            </div>
        </div>

    </div>

    <hr>

    <div appFadein [ActionTrigger]="Action" id="file-container" class="files-container d-flex justify-content-center row gx-5 p-2">
        
        <div *ngFor="let file of this.filesService.Files | async" class="col-sm-6 col-md-6 col-lg-4 p-3">
            <app-filecard [File]="file"></app-filecard>
        </div>
        
    </div>
</div>