@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "../variables.scss";

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

app-footer {
    margin-top: auto;
    width: 100%;
}

.toast-container {
    background-color: rgba($color: white, $alpha: 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
}